/*!
  * Item: Kitzu
  * Description: Personal Portfolio Template
  * Author/Developer: Exill
  * Author/Developer URL: https://themeforest.net/user/exill
  * Version: v1.1.0
  * License: Themeforest Standard Licenses: https://themeforest.net/licenses
  */
ion-icon {
    font-size: 23px;
}

a {
    color: black !important;
}

.cover-bg {
    background-color: rgba(0,0,0,.85);
    background-position: 50% 0;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;

}

.home-name {
    color: black !important;
}

.home-headline {
    color: black !important;
}